---
import "@/styles/global.css";
import type { Post } from '@/types.d.ts';
import { getAllPosts } from "@/lib/api.js";
import { urlForImage } from "@/lib/urlForImage.js";

const posts = await getAllPosts();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <h1>Blog Posts</h1>
      <ul>
        {
          posts.map((post: Post) => (
            <li>
              <a href={`/posts/${post.slug.current}`}>
                <img src={urlForImage(post.mainImage).url()} alt={post.title} />
                {post.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
